# requirements.txt

# Interface graphique
PySide6>=6.6.0

# Base de données
SQLAlchemy>=2.0.0

# Cryptographie et sécurité
Werkzeug>=3.0.0
cryptography>=41.0.0

# Traitement d'images
Pillow>=10.0.0

# Traitement de PDF
PyPDF2>=3.0.0

# Détection de type MIME
python-magic>=0.4.27
python-magic-bin>=0.4.14; platform_system == "Windows"

# Base de données (optionnel - si vous utilisez PostgreSQL ou MySQL)
psycopg2-binary>=2.9.9  # Pour PostgreSQL
PyMySQL>=1.1.0  # Pour MySQL

# Pour AWS S3
boto3

# Pour Azure
azure-storage-blob

# Pour Google Cloud
google-cloud-storage

# lib pour la dependance de creation d'executable
pyinstaller